@charset "UTF-8";
body, html,div, span, label, section, aside, footer, header, nav, video, table, tr, td, th { 
   margin: 0; padding: 0; border: 0; font-size: 100%; font-family: 'Noto Sans KR', sans-serif;
   -ms-text-size-adjust: 100%;      /* IE */
   -webkit-text-size-adjust: 100%;  /* 크롬, 사파리 */
   -o-text-size-adjust: 100%;       /* 오페라 */
   -moz-text-size-adjust: 100%;     /* 파이어폭스 */
}
a { background-color: transparent; text-decoration: none; color: white;}
a:active, a:hover { outline: 0; color: white; text-decoration: none;}
a:visited { text-decoration: none;}
input, textarea { outline: 0;}
input:focus, textarea:focus { outline: 0;}
button, input[type="button"], input[type="submit"], input[type="reset"], input[type="checkbox"], input[type="radio"]{
   cursor: pointer;
}
legend { border: 0; padding: 0;}
textarea { overflow: auto;}
table { border-collapse: collapse; border-spacing: 0;}
ul, ol { margin: 0; padding: 0; list-style: none;}
.clear { clear: both;}
address, caption, cite, code, dfn, em, var { font-style: normal;}
img { width: 100%; object-fit: cover;}

.hello_pet_gallery { 
   width: 1280px; height: 650px; border: 1px solid #ccc; background-color: lavender;
   box-sizing: border-box; padding: 10px; margin: 0 auto;
}

.pictures { width: 100%; height: auto; text-align: center; }
.pictures > li { 
   width: 300px; height: 300px; display: inline-block;
   margin: 3px; border: 1px solid #ddd;
}