@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
$font_ng:'Nanum Gothic', sans-serif; 

@mixin base{
    margin: 0;
    padding: 0;
}
@mixin objectsize($w,$h,$display,$position){
        width: $w;
        height: $h;
        display:$display;
        position:$position;
}

body{
    @include base;
}
.box{
    @include objectsize(200px,300px,block,relative);
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
        width: 40px;
        height: 40px;
    }
    $color:red,blue,green,yellow,pink;
    $k:1;
    @each $item in $color{
        & > li:nth-of-type(#{$k}){
            background-color: #{$item}; //@each는 nth를 사용하지 않음
        }
        $k:$k+1;    //@each는 자동 증가 index값이 없으므로 가상의 변수를 하나 생성하여
        //index 카운팅 하도록 설정하게 된다.
    }
}