@charset "UTF-8";
@media screen and (min-width: 340px) and (max-width: 540px) {
  .mlogin {
    min-width: 90%;
  }
  .mlogin > ul {
    min-width: 50%;
  }
  .mlogin > ul > li {
    min-width: 30%;
  }
}

/*
모바일 최소 폰트 사이즈 : 14px
*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

span, label, main {
  display: block;
}

nav {
  width: 100%;
  height: 40px;
  background-color: #ccc;
}

.mlogin {
  width: 99.99%;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
}

.mlogin > ul {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.mlogin > ul > li {
  width: inherit;
  height: 40px;
  margin-bottom: 10px;
}

.mlogin > ul > li:nth-of-type(1) {
  text-align: center;
  line-height: 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.mlogin > ul > li:nth-of-type(2), .mlogin > ul li:nth-of-type(4), .mlogin > ul li:nth-of-type(6), .mlogin > ul li:nth-of-type(8) {
  width: 100px;
  height: 30px;
  background-color: lightblue;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
}

.mlogin > ul > li:nth-of-type(3) > input, .mlogin > ul li:nth-of-type(5) > input, .mlogin > ul li:nth-of-type(7) > input, .mlogin > ul li:nth-of-type(11) > input {
  width: 294px;
  height: 30px;
  border: none;
  border-bottom: 1px solid dimgray;
  max-width: 500px;
  height: 30px;
  text-indent: 5px;
  border-radius: 3px;
}

.mlogin > ul > li:nth-of-type(9) > span {
  display: inline-block;
  border-radius: 3px;
}

.mlogin > ul > li:nth-of-type(9) > span:nth-of-type(1) > input {
  width: 130px;
  height: 30px;
  border: none;
  border-bottom: 1px solid dimgray;
  text-indent: 5px;
  border-radius: 3px;
}

.mlogin > ul > li:nth-of-type(9) > span:nth-of-type(1) > input > em {
  font-size: normal;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.mlogin > ul > li:nth-of-type(9) > span:nth-of-type(2) {
  float: right;
}

.mlogin > ul > li:nth-of-type(9) > span:nth-of-type(2) > select {
  width: 130px;
  height: 33px;
  border: none;
  border-bottom: 1px solid dimgray;
  border-radius: 3px;
  background-color: white;
}

.mlogin > ul > li:nth-of-type(9) > span:nth-of-type(2) > input {
  width: 120px;
  height: 30px;
  border: none;
  border-bottom: 1px solid dimgray;
  display: none;
  text-indent: 5px;
  border-radius: 3px;
}

.mlogin > ul > li:nth-of-type(10) {
  margin-bottom: 0;
}

.mlogin > ul > li:nth-of-type(10) > span {
  display: inline-block;
  border-radius: 3px;
}

.mlogin > ul > li:nth-of-type(10) > span:nth-of-type(1) {
  width: 100px;
  height: 30px;
  background-color: lightblue;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
}

.mlogin > ul > li:nth-of-type(10) > span:nth-of-type(2) {
  float: right;
}

.mlogin > ul > li:nth-of-type(10) > span:nth-of-type(2) > select {
  width: 130px;
  height: 30px;
  border: none;
  border-bottom: 1px solid dimgray;
  border-radius: 3px;
  background-color: white;
}

.mlogin > ul > li:nth-of-type(12) > button {
  width: 100%;
  height: 30px;
  background-color: lightblue;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  border: none;
  border-radius: 3px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #ccc;
}
/*# sourceMappingURL=index11.css.map */