body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.member_header {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  background-color: #ccc;
}

.member_section {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.member_section > aside {
  width: 1000px;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}

.member_section > aside > .member_title {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  border-bottom: 2px solid #ccc;
}

.member_section > aside > .member_title > span {
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.member_section > aside > .member_terms {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
}

.member_section > aside > .member_terms > .member_terms_ul {
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.member_section > aside > .member_terms > .member_terms_ul > li {
  width: inherit;
}

.member_section > aside > .member_terms > .member_terms_ul > li:nth-of-type(1) {
  height: 50px;
}

.member_section > aside > .member_terms > .member_terms_ul > li:nth-of-type(1) > label {
  width: 150px;
  display: block;
  font-size: 18px;
  line-height: 50px;
}

.member_section > aside > .member_terms > .member_terms_ul > li:nth-of-type(2) {
  height: 30px;
}

.member_section > aside > .member_terms > .member_terms_ul > li:nth-of-type(2) > label {
  display: block;
  line-height: 30px;
}

.member_section > aside > .member_terms > .member_terms_ul > li:nth-of-type(3) {
  height: 170px;
  border: 1px solid #a5a5a5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.member_section > aside > .member_terms > .member_terms_ul > li:nth-of-type(3) > object {
  width: inherit;
  height: inherit;
}

.member_section > aside > .member_terms > .member_terms_ul > li:nth-of-type(4) {
  height: 50px;
}

.member_section > aside > .member_terms > .member_terms_ul > li:nth-of-type(4) > label {
  display: block;
  font-size: 18px;
  line-height: 50px;
  float: right;
  margin-right: 10px;
}

.member_section > aside > .member_check {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.member_section > aside > .member_check > span:nth-of-type(1) {
  width: 100%;
  height: 40px;
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 40px;
}

.member_section > aside > .member_check > span:nth-of-type(2) {
  width: 100%;
  height: 30px;
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 30px;
}

.member_section > aside > .member_check > span:nth-of-type(2) > label:nth-of-type(2) {
  display: inline-block;
  margin-left: 20px;
}

.member_section > aside > .member_check > span:nth-of-type(3) {
  width: 100%;
  height: 30px;
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 30px;
}

.member_section > aside > .member_check > span:nth-of-type(3) > label:nth-of-type(2) {
  display: inline-block;
  margin-left: 20px;
}

.member_section > aside > .member_check > span:nth-of-type(4) {
  width: 100%;
  height: 30px;
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 30px;
}

.member_section > aside > .member_check > span:nth-of-type(4) > label:nth-of-type(2) {
  display: inline-block;
  margin-left: 20px;
}

.member_section > aside > .member_btn {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  line-height: 100px;
  text-align: center;
}

.member_section > aside > .member_btn > .member_btn_css {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: darkcyan;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.member_footer {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  background-color: #ccc;
}
/*# sourceMappingURL=index29_1.css.map */