@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Nanum Gothic", sans-serif;
}
body {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
ul,ol,dl {
    list-style: none;
    margin: 0;
    padding: 0;
}
span,label,main {
    display: block;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.pet_header {
    height: auto;
}
.pet_nav {
    height: auto;
}
.pet_main {
    height: auto;
}
.pet_newpet {
    height: auto;
}
.pet_product {
    height: auto;
}
.pet_event {
    height: auto;
}
.pet_footer {
    height: auto;
}
.float_b{
    width: 42px; height: 285px; 
    position: absolute; 
    top: 300px;
    right: 30px; z-index: 10;
    box-shadow: 2px 2px 10px 2px rgba(146, 146, 146, 0.5);
}