@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
ul, ol, dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: "14px";
  font-weight: "300";
  color: "balck";
}

.product_list_article {
  width: 100%;
  height: 40px;
  display: block;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 110%;
  font-weight: 400;
  color: black;
  background-color: #f2f2f2;
}

.product_list_article > .product_list_article_text {
  width: 1200px;
  height: inherit;
  display: block;
  position: "";
  line-height: 40px;
  margin: 0 auto;
}

.product_list_aside {
  width: 1200px;
  height: auto;
  display: block;
  position: "";
  margin: 0 auto;
}

.product_list_aside > .product_list_search {
  width: inherit;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_list_aside > .product_list_search > span:nth-of-type(1) {
  width: 280px;
  height: 30px;
  display: block;
  position: "";
}

.product_list_aside > .product_list_search > span:nth-of-type(1) > input {
  width: inherit;
  height: inherit;
  display: block;
  position: "";
  text-indent: 5px;
  border: none;
  border-bottom: 1px solid dimgray;
}

.product_list_aside > .product_list_search > span:nth-of-type(2) {
  width: 260px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
}

.product_list_aside > .product_list_search > span:nth-of-type(2) > button {
  width: 120px;
  height: inherit;
  display: block;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
  background-color: tomato;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
}

.product_list_aside > .product_list_search > span:nth-of-type(2) > button:hover {
  background-color: #ff4b2c;
}

.product_list_aside > .product_list_table {
  width: inherit;
  height: auto;
  display: block;
  position: "";
}

.product_list_aside > .product_list_table > table {
  width: inherit;
  height: auto;
  display: block;
  position: "";
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr {
  width: 100%;
  height: 30px;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th {
  border: 1px solid #aaa;
  background-color: #cccccc;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th:nth-of-type(1) {
  width: 5%;
  border: 1px solid #aaa;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th:nth-of-type(2) {
  width: 10%;
  border: 1px solid #aaa;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th:nth-of-type(3) {
  width: 30%;
  border: 1px solid #aaa;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th:nth-of-type(4) {
  width: 10%;
  border: 1px solid #aaa;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th:nth-of-type(5) {
  width: 8%;
  border: 1px solid #aaa;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th:nth-of-type(6) {
  width: 10%;
  border: 1px solid #aaa;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th:nth-of-type(7) {
  width: 5%;
  border: 1px solid #aaa;
}

.product_list_aside > .product_list_table > table > .product_list_thead > tr > th:nth-of-type(8) {
  width: 5%;
  border: 1px solid #aaa;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td {
  border: 1px solid #aaa;
  height: 35px;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(2) {
  cursor: pointer;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(2):hover {
  font-weight: 700;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(3) {
  text-indent: 5px;
  cursor: pointer;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(3):hover {
  font-weight: 700;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(4) {
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(5) {
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(6) {
  cursor: pointer;
  vertical-align: middle;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(8) > button {
  width: 90%;
  height: 90%;
  border: none;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cccccc;
}

.product_list_aside > .product_list_table > table > .product_list_tbody > tr > td:nth-of-type(8) > button:hover {
  background-color: dimgray;
  color: white;
}

.product_list_aside > .product_list_btn {
  width: inherit;
  height: 80px;
  display: block;
  position: relative;
}

.product_list_aside > .product_list_btn > button {
  width: 120px;
  height: 30px;
  display: block;
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
  line-height: 30px;
  background-color: crimson;
  border: none;
  border-radius: 3px;
  right: 0;
  top: 25px;
}

.product_list_aside > .product_list_btn > button:hover {
  background-color: #ba082c;
}

.pdimg {
  width: 100%;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product_page {
  width: 1200px;
  height: 30px;
  display: block;
  position: "";
  margin: 0 auto;
  margin-top: 30px;
}

.product_page > ul {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_page > ul > li {
  width: 30px;
  height: 30px;
  display: block;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #2e2e2e;
  background-color: #ccc;
  line-height: 30px;
  text-align: center;
  margin-right: 7px;
  cursor: pointer;
}

.product_page > ul > li:hover {
  background-color: gray;
  color: white;
}

.warnnig_msg {
  width: 1200px;
  height: auto;
  display: block;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: crimson;
  line-height: 60px;
}

.new_product_aside {
  width: 1200px;
  height: auto;
  display: block;
  position: "";
  margin: 0 auto;
}

.new_product_aside > table {
  width: inherit;
  height: auto;
  display: block;
  position: "";
}

.new_product_aside > table > .new_product_table {
  width: inherit;
  height: auto;
  display: block;
  position: "";
}

.new_product_aside > table > .new_product_table > tr {
  width: 100%;
  height: 50px;
  display: block;
  position: "";
}

.new_product_aside > table > .new_product_table > tr > td {
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.new_product_aside > table > .new_product_table > tr > td:nth-of-type(1) {
  width: 200px;
  text-align: left;
  text-decoration: overline;
  text-indent: 10px;
}

.new_product_aside > table > .new_product_table > tr > td:nth-of-type(2) {
  width: 1000px;
  text-align: left;
}

.new_product_aside > table > .new_product_table > .new_product_code {
  height: 50px;
}

.new_product_aside > table > .new_product_table > .new_product_code > td:nth-of-type(2) > input {
  width: 80px;
  height: 30px;
  text-align: center;
}

.new_product_aside > table > .new_product_table > .new_product_code > td:nth-of-type(2) > span {
  margin-left: 20px;
}

.new_product_aside > table > .new_product_table > .new_product_name {
  height: 50px;
}

.new_product_aside > table > .new_product_table > .new_product_name > td:nth-of-type(2) > input {
  width: 300px;
  height: 30px;
  text-indent: 5px;
}

.new_product_aside > table > .new_product_table > .new_product_name > td:nth-of-type(2) > span {
  margin-left: 20px;
}

.new_product_aside > table > .new_product_table > .new_product_ex {
  height: 50px;
}

.new_product_aside > table > .new_product_table > .new_product_ex > td:nth-of-type(2) > input {
  width: 600px;
  height: 30px;
  text-indent: 5px;
}

.new_product_aside > table > .new_product_table > .new_product_ex > td:nth-of-type(2) > span {
  margin-left: 20px;
}

.new_product_aside > table > .new_product_table > tr:nth-of-type(4) {
  height: 50px;
}

.new_product_aside > table > .new_product_table > tr:nth-of-type(4) > td:nth-of-type(2) > input {
  width: 200px;
  height: 30px;
  text-align: right;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new_product_aside > table > .new_product_table > tr:nth-of-type(4) > td:nth-of-type(2) > span {
  margin-left: 20px;
}

.new_product_aside > table > .new_product_table > .new_product_sale {
  height: 50px;
}

.new_product_aside > table > .new_product_table > .new_product_sale > td:nth-of-type(2) > label {
  margin-right: 25px;
}

.new_product_aside > table > .new_product_table > .new_product_sale_per {
  height: 50px;
}

.new_product_aside > table > .new_product_table > .new_product_sale_per > td:nth-of-type(2) > label {
  margin-right: 25px;
}

.new_product_aside > table > .new_product_table > .new_product_sale_per > td:nth-of-type(2) > span {
  margin-right: 30px;
}

.new_product_aside > table > .new_product_table > .new_product_sale_per > td:nth-of-type(2) > span > input {
  width: 200px;
  height: 30px;
  text-align: right;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new_product_aside > table > .new_product_table > .new_product_sale_per > td:nth-of-type(2) > span:nth-of-type(1) > input {
  width: 100px;
}

.new_product_aside > table > .new_product_table > .new_product_sale_per > td:nth-of-type(2) > span:nth-of-type(3) > input {
  width: 130px;
}

.new_product_aside > table > .new_product_table > .new_product_ea {
  height: 50px;
}

.new_product_aside > table > .new_product_table > .new_product_ea > td:nth-of-type(2) > input {
  width: 150px;
  height: 30px;
  text-align: right;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new_product_aside > table > .new_product_table > .new_product_img {
  height: auto;
}

.new_product_aside > table > .new_product_table > .new_product_op {
  height: 50px;
}

.new_product_aside > table > .new_product_table > .new_product_op > td:nth-of-type(2) > span {
  margin-right: 40px;
}

.new_product_aside > table > .new_product_table > .new_product_URL {
  height: 50px;
}

.new_product_aside > table > .new_product_table > .new_product_URL > td:nth-of-type(2) > input {
  width: 600px;
  height: 30px;
  text-indent: 5px;
}

.new_product_aside > table > .new_product_table > .new_product_add_img {
  height: 120px;
}

.new_product_aside > table > .new_product_table > .new_product_add_img > td:nth-of-type(2) {
  height: inherit;
}

.new_product_aside > table > .new_product_table > .new_product_add_img > td:nth-of-type(2) > div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.new_product_aside > table > .new_product_table > .new_product_mody_img {
  height: auto;
}

.new_product_aside > table > .new_product_table > .new_product_mody_img > td:nth-of-type(2) {
  height: inherit;
}

.new_product_aside > table > .new_product_table > .new_product_mody_img > td:nth-of-type(2) > div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.new_product_aside > table > .new_product_table > .new_product_detail {
  height: auto;
  border-bottom: none;
}

.new_product_aside > table > .new_product_table > .new_product_detail > td:nth-of-type(2) {
  height: auto;
}

.new_product_aside > table > .new_product_table > .new_product_detail > td:nth-of-type(2) > textarea {
  width: 100%;
  height: 300px;
  resize: none;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new_product_btn {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.new_product_btn > .npb {
  width: 120px;
  height: 30px;
  display: block;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: white;
  background-color: tomato;
  border: none;
  border-radius: 3px;
}

.new_product_btn > .npb:nth-of-type(1) {
  margin-right: 20px;
  background-color: crimson;
}

.new_product_btn > .npb:nth-of-type(1):hover {
  background-color: #ba082c;
}

.new_product_btn > .npb:nth-of-type(2):hover {
  background-color: #ff4b2c;
}

.in0 {
  width: 130px;
  height: 30px;
  text-indent: 5px;
}

.np_memo {
  width: auto;
  height: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: dimgray;
  margin-left: 20px;
}

.img_content {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 60px;
  border-bottom: 1px solid #dfdfdf;
}

.img_content > .preview_img {
  width: 120px;
  height: 50px;
  display: block;
  position: "";
}

.img_content > .preview_img > .upfile {
  display: inline-block;
  line-height: 50px;
}

.img_content > .prebtnspan {
  width: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_content > .prebtnspan > img {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.img_content > .prebtnspan > button {
  width: 70px;
  height: 30px;
  display: block;
  position: "";
  margin-left: 20px;
  background-color: #2e2e2e;
  color: white;
  border: 1px solid dimgray;
}

.img_content > .img_memo {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: dimgray;
  margin-left: 80px;
}
/*# sourceMappingURL=product.css.map */