@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "돋움";
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  height: auto;
}
.dataview {
  margin: 0 auto;
  width: 800px;
  height: auto;
}
.dataview > p {
  width: inherit;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.dlcss {
  border: 1px solid red;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.dlcss > dt {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
  font-size: 13px;
}
.dlcss > dd {
  width: 100%; /*ul,li와는 다름*/
  height: 50px;
  padding: 0;
  margin: 0;
  line-height: 50px;
  /* dd에   padding: 0;
  margin: 0; 을 넣어야됨 
  여기에 float:left 쓰지 말 것.*/
  padding-top: 10px;
  box-sizing: border-box;
}
.gp {
  display: block;
  width: 0px;
  height: 30px;
  background-color: violet;
}
.total_member {
  width: 800px;
  height: 50px;
  line-height: 50px;
  text-align: right;
  margin: 0 auto;
}
