@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
.agree_view > ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html, body, header, main, section, article, aside, footer, table, tr, td, dl, dd, dt, span, label {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: black;
  line-height: "";
  display: block;
}

header {
  width: "";
  height: auto;
  display: block;
  position: "";
}

nav {
  width: "";
  height: 50px;
  display: block;
  position: "";
  background-color: black;
}

section {
  width: "";
  height: auto;
  display: block;
  position: relative;
}

main {
  width: "";
  height: auto;
  display: block;
  position: "";
  margin: 0 auto;
}

main > section {
  width: "";
  height: auto;
  display: block;
  position: "";
  margin: 0 auto;
}

main > article {
  width: "";
  height: auto;
  display: block;
  position: "";
  margin: 0 auto;
}

footer {
  width: 100%;
  height: auto;
  display: block;
  position: "";
  margin: 0 auto;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.agree_view {
  width: 1174px;
  height: auto;
  display: block;
  position: "";
  margin: 0 auto;
}

.agree_view > p {
  width: 100%;
  height: 70px;
  display: block;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: black;
  line-height: 70px;
  text-align: left;
  text-decoration: overline;
}

.agree_view > ul {
  width: 100%;
  height: auto;
  display: block;
  position: "";
}

.agree_view > ul > li:nth-of-type(1) {
  width: 100%;
  height: 30px;
  display: block;
  position: "";
}

.agree_view > ul > li:nth-of-type(1) > label {
  width: 100%;
  height: 30px;
  display: block;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: black;
  line-height: 30px;
  border-bottom: 1px solid #aaa;
}

.agree_view > ul > li:nth-of-type(2) {
  width: 100%;
  height: 50px;
  display: block;
  position: "";
}

.agree_view > ul > li:nth-of-type(2) > label {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: black;
  line-height: "";
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.agree_view > ul > li:nth-of-type(3) {
  width: 100%;
  height: 50px;
  display: block;
  position: "";
}

.agree_view > ul > li:nth-of-type(3) > label {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: black;
  line-height: "";
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.agree_view > .text_box {
  width: 100%;
  height: 300px;
  display: block;
  position: "";
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #aaa;
  margin-bottom: 60px;
  overflow-x: auto;
}

.agree_btn {
  width: 1174px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: "";
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.agree_btn > span {
  width: 200px;
  height: 50px;
  display: block;
  position: "";
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  line-height: 50px;
  background-color: #3b434b;
  text-align: center;
  cursor: pointer;
}

.agree_btn > span:hover {
  background-color: #2b3137;
}

.uall {
  cursor: pointer;
}
/*# sourceMappingURL=agree.css.map */