@charset "UTF-8";
@import "./config.scss";

.login {
  width: 550px;
  height: auto;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  // border: 1px solid #aaa;
  margin-top: 60px;
  margin-bottom: 60px;
}
.title_login {
  height: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
}
.total_login {
  width: 550px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 4px;
  border-bottom: 1px solid #ccc;
}
.login_box {
  width: 530px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  & > ul {
      @extend %ulol;
  }
}
.login_btn {
  position: absolute;
  right: 0;
  top: 0;
}
.login_btn1 {
  width: 200px;
  height: 90px;
  border: 1px solid gray;
  box-sizing: border-box;
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: rgb(31, 35, 40);
    color: white;
  }
}
.login_li {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-indent: 5px;
}
.login_box > ul > li:first-child {
  margin-bottom: 10px;
}
.login_box > ul > li:last-child {
  margin-bottom: 0;
}
.id_save {
  width: 150px;
  height: 50px;
  line-height: 50px;
}
.id_save2 {
  color: gray;
}
.id_btn {
  width: 15px;
  height: 15px;
}
.join_btn {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  & > ol {
      @extend %ulol;
  }
}
.join_btn > ol > li {
  float: left;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  margin: 4px;
}
.j_bt1 {
  width: 175px;
  height: 40px;
  background-color: rgb(31, 35, 40);;
  border: none;
  color: #ccc;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: rgb(31, 35, 40);
    border: 1px solid gray;
  }
}
.j_btn2 {
  width: 175px;
  height: 40px;
  background-color: white;
  border: 1px solid gray;
  color: gray;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  &:hover {
    background-color: rgb(31, 35, 40);
    color: white;
  }
}
.j_btn3 {
  width: 175px;
  height: 40px;
  background-color: white;
  border: 1px solid gray;
  color: gray;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  &:hover {
    background-color: rgb(31, 35, 40);
    color: white;
  }
}
.title_order {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: gray;
  margin-left: 5px;
}
.order_box {
  width: 530px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  & > ol {
      @extend %ulol;
  }
}
.order_li {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-indent: 5px;
}
.order_box > ol > li:first-child {
  margin-bottom: 10px;
}
.order_box > ol > li:last-child {
  margin-bottom: 0;
}
.order_btn {
  position: absolute;
  right: 0;
  top: 0;
}
.order_btn1 {
  width: 200px;
  height: 90px;
  border: 1px solid gray;
  background-color: white;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: rgb(31, 35, 40);
    color: white;
  }
}
.b_text {
  width: 100%;
  height: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: gray;
  margin-left: 5px;
  line-height: 50px;
}
